@media (max-width: 768px) {
  .content-card {
    width: 100%;
    max-width: 327px;
    min-height: 643px;
    flex-direction: column;
    margin-top: 148px;
    margin-bottom: 85px;
  }
  
  .images {
    position: absolute;
    flex: 0;
    top: -108px;
    background: url(../images/bg-pattern-desktop.svg) no-repeat top center;
    background-size: contain;
  }

  .box {
    display: none;
  }

  .woman-pc {
    display: none;
  }

  .woman-mobile {
    display: block;
    /* transform: translateY(-70%); */
  }

  .acordeon {
    flex: 0;
    width: 279px;
  }

   .acordeon .title {
    margin-top: 132px;
    margin-bottom: 40px;
    text-align: center;
  }

  .acordeon .item {
    width: 100%;
  }

  .acordeon h2 {
    font-size: 13px;
    margin-bottom: 13px;
  }
}