/*  media de teste  */
@media (max-width: 768px) {
  .content-card {
    width: 100%;
    max-width: 327px;
    /* min-height: 535px; */
    height: 700px;
    flex-direction: column;
    /* background-color: red; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
  }

  .images {
    flex: 0;
    position: relative;
    /* background-color: red; */
    /* background: url(../images/bg-pattern-desktop.svg) no-repeat top center; */
  }

  .box {
    display: none;
  }

  .woman-pc {
    display: none;
  }

  .woman-mobile {
    display: block;
    /* position: absolute; */
    /* top: 0; */
  }

  .acordeon {
    flex: 0;
    width: 279px;
  }

  .acordeon .title {
    margin-bottom: 40px;
    text-align: center;
  }

  .acordeon .item {
    width: 100%;
  }

  .acordeon h2 {
    font-size: 13px;
    margin-bottom: 13px;
  }
}