@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  max-width: 1440px;
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  /* tamanho opcional da fonte
    font-weight: 700;
    */
  font-weight: 400;
  background: var(--gradient);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tertiary-color);
  width: 100%;
  max-width: 920px;
  min-height: 509px;
  border-radius: 23px;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  position: relative;
}

.images {
  flex: 1;
}

.box {
  position: absolute;
  top: 206px;
  left: -90px;
}

.woman-pc {
  position: absolute;
  top: 70px;
  left: 0;
  background: url(../images/bg-pattern-desktop.svg) no-repeat top center;
  background-size: cover;
}

.woman-mobile {
  display: none;
}

.acordeon {
  flex: 1;
  /* width: 50%; */
}

.acordeon .title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 35px;
}

.acordeon .item {
  margin-bottom: 16px;
  width: 350px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--secundary-neutral);
  background: url(../images/icon-arrow-down.svg) no-repeat right top;
  cursor: pointer;
  color: var(--primary-neutral);
}

.acordeon .item:last-child {
  margin-bottom: 0;
}

.acordeon .item h2 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.acordeon .item p {
  font-size: 12px;
  display: none;
}

/*  Para evento de clique  */

.acordeon .item.clicked {
  background-image: url(../images/arrow-open.svg);
}

.acordeon .item.clicked h2 {
  font-weight: 700;
  color: var(--primary-color);
}

.acordeon .item.clicked p {
  display: block;
  color: var(--secundary-neutral);
}